.Rproj.user
.Rhistory
.RData
.Ruserdata
/data/*
/data-output/*
/output/*
.DS_Store

.ipynb_checkpoints
MOUD_scraping/metrics/tl_2010_us_zcta510/*
MOUD_scraping/metrics/tl_2019_us_zcta510/*
MOUD_scraping/**/*.pdf
MOUD_scraping/**/*.csv
!MOUD_scraping/**/*_c.csv
MOUD_scraping/todo/*
