.Rproj.user
.Rhistory
.RData
.Ruserdata
/data/*
/data-output/*
/output/*
.DS_Store
MOUD_scraping/.ipynb_checkpoints/2017_test-checkpoint.ipynb
MOUD_scraping/.ipynb_checkpoints/pdf_scraper-checkpoint.ipynb
MOUD_scraping/2003/directory_2003.pdf
MOUD_scraping/2012/directory_2012.pdf
MOUD_scraping/2017/directory_2017.pdf
MOUD_scraping/2017_test.html
MOUD_scraping/2017_test.html
MOUD_scraping/2017_test.ipynb
MOUD_scraping/directory_2007.pdf
MOUD_scraping/.ipynb_checkpoints/pdf_scraper_1217-checkpoint.ipynb
MOUD_scraping/.ipynb_checkpoints/data_summary-checkpoint.ipynb
MOUD_scraping/.ipynb_checkpoints/example_spatial_access-checkpoint
MOUD_scraping/.ipynb_checkpoints/example_spatial_access-checkpoint.ipynb
MOUD_scraping/.ipynb_checkpoints/geocoding-checkpoint.ipynb
MOUD_scraping/.ipynb_checkpoints/pdf_scraper_03-checkpoint.ipynb
MOUD_scraping/.ipynb_checkpoints/pdf_scraper_07-checkpoint.ipynb
MOUD_scraping/.ipynb_checkpoints/pdf_scraper_98-checkpoint.ipynb
MOUD_scraping/1980/.ipynb_checkpoints/pdf_scraper_80-checkpoint.ipynb
MOUD_scraping/1980/.ipynb_checkpoints/pdf_scraper_80-checkpoint.ipynb copy
MOUD_scraping/1980/directory_1980_drug.pdf
MOUD_scraping/1990/.ipynb_checkpoints/pdf_scraper_90-checkpoint.ipynb
MOUD_scraping/1990/directory_1990.pdf
MOUD_scraping/metrics/.ipynb_checkpoints/metrics-checkpoint.ipynb
MOUD_scraping/metrics/tl_2010_us_zcta510/tl_2010_us_zcta510.dbf
MOUD_scraping/metrics/tl_2010_us_zcta510/tl_2010_us_zcta510.prj
MOUD_scraping/metrics/tl_2010_us_zcta510/tl_2010_us_zcta510.shp
MOUD_scraping/metrics/tl_2010_us_zcta510/tl_2010_us_zcta510.shp.xml
MOUD_scraping/metrics/tl_2010_us_zcta510/tl_2010_us_zcta510.shx
MOUD_scraping/metrics/tl_2019_us_zcta510/tl_2019_us_zcta510.cpg
MOUD_scraping/metrics/tl_2019_us_zcta510/tl_2019_us_zcta510.dbf
MOUD_scraping/metrics/tl_2019_us_zcta510/tl_2019_us_zcta510.prj
MOUD_scraping/metrics/tl_2019_us_zcta510/tl_2019_us_zcta510.shp
MOUD_scraping/metrics/tl_2019_us_zcta510/tl_2019_us_zcta510.shx
MOUD_scraping/metrics/tl_2019_us_zcta510/tl_2019_us_zcta510.shp.iso.xml
MOUD_scraping/metrics/tl_2019_us_zcta510/tl_2019_us_zcta510.shp.ea.iso.xml
MOUD_scraping/1998/.ipynb_checkpoints/pdf_scraper_98-checkpoint.ipynb
MOUD_scraping/1998/.ipynb_checkpoints/1998_Methadone-checkpoint.png
MOUD_scraping/2015/.ipynb_checkpoints/pdf_scraper_15-checkpoint.ipynb
MOUD_scraping/2015/2015.csv
MOUD_scraping/2010/2010.csv
MOUD_scraping/2017/.ipynb_checkpoints/pdf_scraper_17-checkpoint.ipynb
MOUD_scraping/2017/2017.csv
MOUD_scraping/2010/.ipynb_checkpoints/pdf_scraper_10-checkpoint.ipynb
MOUD_scraping/2012/.ipynb_checkpoints/pdf_scraper_12-checkpoint.ipynb
MOUD_scraping/2010/.ipynb_checkpoints/2010_stats-checkpoint.png
MOUD_scraping/2012/2012.csv
MOUD_scraping/2012/2012.csv
MOUD_scraping/2012/2012.csv
MOUD_scraping/2012/2012_c.csv
