.Rproj.user
.Rhistory
.RData
.Ruserdata
/data/*
/data-output/*
/output/*
.DS_Store

.ipynb_checkpoints
MOUD_scraping/2003/directory_2003.pdf
MOUD_scraping/2012/directory_2012.pdf
MOUD_scraping/2017/directory_2017.pdf
MOUD_scraping/1980/directory_1980_drug.pdf
MOUD_scraping/1990/directory_1990.pdf
MOUD_scraping/metrics/tl_2010_us_zcta510/tl_2010_us_zcta510.dbf
MOUD_scraping/metrics/tl_2010_us_zcta510/tl_2010_us_zcta510.prj
MOUD_scraping/metrics/tl_2010_us_zcta510/tl_2010_us_zcta510.shp
MOUD_scraping/metrics/tl_2010_us_zcta510/tl_2010_us_zcta510.shp.xml
MOUD_scraping/metrics/tl_2010_us_zcta510/tl_2010_us_zcta510.shx
MOUD_scraping/metrics/tl_2019_us_zcta510/tl_2019_us_zcta510.cpg
MOUD_scraping/metrics/tl_2019_us_zcta510/tl_2019_us_zcta510.dbf
MOUD_scraping/metrics/tl_2019_us_zcta510/tl_2019_us_zcta510.prj
MOUD_scraping/metrics/tl_2019_us_zcta510/tl_2019_us_zcta510.shp
MOUD_scraping/metrics/tl_2019_us_zcta510/tl_2019_us_zcta510.shx
MOUD_scraping/metrics/tl_2019_us_zcta510/tl_2019_us_zcta510.shp.iso.xml
MOUD_scraping/metrics/tl_2019_us_zcta510/tl_2019_us_zcta510.shp.ea.iso.xml
MOUD_scraping/2010/2010.csv
MOUD_scraping/2015/2015.csv
MOUD_scraping/2012/2012.csv
MOUD_scraping/2017/2017.csv
MOUD_scraping/2003/2003.csv
MOUD_scraping/2017/2017.csv
MOUD_scraping/2007/directory_2007.pdf
MOUD_scraping/2003/2003.csv
MOUD_scraping/2017/2017.csv
MOUD_scraping/2007/2007.csv
MOUD_scraping/2017/2017.csv
