.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 75vw;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.title,
.description {
  text-align: left;
  hyphens: manual;
}

.titleDiagram {
  width:100%;
  max-height:35vh;
  margin:0 auto;
  display:block;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.subhead {
  text-align: center;
}

.docsLink {
  color: var(--selected-color);
  font-weight: bold;
  border:1px solid var(--selected-color);
  border-radius: 0.25em;
  padding:0.25em 0.5em;
  margin-bottom:0.5em;
}
.docsLink:hover {
  background-color: var(--selected-color-light);
}

.threeUpIcon {
  height:4em;
  margin:0 auto;
  display: block;
}